[2017-06-09 23:35] mikestecker opened #1 "Provide Auto-complete config sample?"
Could you provide an auto-complete configuration example? I've tried putting in some parameters in a few different ways but it keeps complaining it's not proper JSON.

I've tried it this way:
[code]
and also this way:
[code]
but still no dice. It keeps telling me `The JSON string supplied is not valid: Syntax error</code>`

[2017-06-12 12:51] leevigraham commented on #1
Valid JSON requires keys and values to be quoted with double quotes:

[code]

[2017-06-12 13:17] #1 closed

[2017-07-06 12:27] leevigraham opened #3 "Implement multiple sub-divisions"
Countries like Brazil have multiple sub-divisions.

https://github.com/commerceguys/addressing#data-model

[2017-07-13 05:36] S1lentium opened #4 "Error when create Matrix field with embed"
Key "new1" for array with keys "new" does not exist.
[code]

[2017-07-13 09:11] S1lentium opened #5 "Argument 1 passed to craft\web\twig\Extension::translateFilter() must be of the type string, null given"
This occurs when matrix field was created, and go to the add entry page...

Argument 1 passed to craft\web\twig\Extension::translateFilter() must be of the type string, null given, called in /home/cms/storage/runtime/compiled_templates/b7/b765c44747b0a75dc0c5cd360b900c9e25b550b74c2ee5225d2d09be6f92d8ea.php on line 29

[code]

[2017-07-13 09:47] leevigraham commented on #4
I haven't tested these fields in Matrix plugins yet. Which v of Craft 3 are you using?

[2017-07-13 12:09] S1lentium commented on #4
3.0.0-beta.21

[2017-07-14 04:18] leevigraham commented on #4
@S1lentium I'll check it out over the weekend.

[2017-07-20 08:15] #5 closed

[2017-07-20 08:15] leevigraham commented on #5
@S1lentium, 5030a69 should fix this issue. However there's still some JS work that needs to b done in regards to validation and adding new rows

[2017-07-20 08:17] leevigraham commented on #4
Tested this with Craft CMS 3.0.0-beta.22 and fields can be created. There is an ongoing issue with javascript in matrix blocks tho.

![image](https://user-images.githubusercontent.com/25124/28407479-a3b62f44-6d77-11e7-92ab-f71646f9dabd.png)

[2017-07-20 08:17] #4 closed

[2017-07-20 08:17] leevigraham opened #6 "Matrix blocks do not init javascript properly."

[2017-07-31 04:40] leevigraham opened #7 "Add documentation for template tags"

[2017-08-01 03:33] #6 closed

[2017-08-01 03:35] leevigraham commented on #4
@S1lentium The latest commit fixes a bunch of JS issues. Matrix should be fully supported now.

[2017-08-02 01:58] leevigraham opened #8 "Split address out into it's own table"

[2017-09-12 03:07] mikestecker opened #9 "Undefined index: countryCode"
When adding a phone number field and deselecting the `Show country selector` checkbox. I am presented with an error `Undefined index: countryCode` when saving an entry.

[code]

Edit: I had a look in my database to see how the field settings are stored. They give me this:
[code]

[2017-09-12 06:04] leevigraham commented on #9
@mikestecker, Thanks for the report. I'll take a look. Which version of Craft3 are you running?

[2017-09-12 16:34] mikestecker commented on #9
@leevigraham I'm running the latest beta which is 26 I believe.

[2017-11-06 14:21] aliwilson opened #11 "Templating Shortcodes"
Would you mind pointing me in the right direction as to how to output the fields within a template? I've tried a tested a few different options but can't work it out!

Many Thanks

[2017-11-06 14:31] aliwilson commented on #11
Funny the minute i asked for help i found out how to do it, for anyone else who needs it - here are some working examples with the field handle set as 'address':

{{entry.address.addressLine2}} - Address 1
{{entry.address.addressLine2}} - Address 2
{{entry.address.latitude}} - Longitude
{{entry.address.latitude}} - Latitude
{{entry.address.mapUrl}} - Map URL

any others you need can be found by in

[2017-11-07 03:35] leevigraham commented on #11
Yep  have to add some front end documentation :)

[2017-11-16 23:14] mikestecker commented on #9
@leevigraham hey just wanted to follow up on this. I'm on beta 34 now and the problem is still happening.

[2017-11-17 00:59] mikestecker opened #12 "Split out phone number into parts"
Can you add the ability to format the phone number in a more presentable way? Something like `(555) 555-1234` or `555-555-1234` or even possibly the give the flexibility to format it any way we want by outputting the different sections of the number: `areacode`, `prefix`, `linenumber` etc?

[2017-11-17 02:07] leevigraham commented on #12
@mikestecker,

You should be able to use the following in your template:

[code]

[2017-11-17 16:34] mikestecker commented on #12
Nice! `.format('national')` is exactly what I was looking for. I was asking about the full breakdown because sometimes designers will want to display stuff as a `555.555.1234` pattern or whatnot which I know isn't considered "standard". Anyway, thanks for the tips, do you mind updating the readme with this info?

[2017-11-17 16:34] #12 closed

[2017-11-18 05:07] leevigraham commented on #12
@mikestecker Yep I'll update the readme.

I understand the need for this but I don't think it's possible given the fact there are so man countries. The underlying library doesn't seem to support it.

Related: https://github.com/googlei18n/libphonenumber/issues/46

[2017-11-18 05:09] leevigraham commented on #12
@mikestecker, One way you might be able to achieve this is to use the national formatting + some twig regexp magic. https://github.com/low/low_regex/

[2017-11-18 05:57] leevigraham commented on #7
Basic Telephone documentation: https://github.com/newism/craft3-fields/commit/407e1e00b8b094b7464c1b31ea58aedcdf84ad47

[2017-11-18 06:01] leevigraham commented on #11
The [`normalizeValue`](https://github.com/newism/craft3-fields/blob/master/src/fields/Address.php#L504) method always returns an [`AddressModel`](https://github.com/newism/craft3-fields/blob/master/src/models/AddressModel.php). All public properties are available:

[code]

[2017-11-18 06:04] leevigraham commented on #11
Added in 8909c91b7d93eb57c2a0f333c1445c7550278601

[2017-11-18 06:04] #11 closed

[2017-11-18 06:05] leevigraham commented on #7
Address template tags documentation: 8909c91b7d93eb57c2a0f333c1445c7550278601

[2017-12-03 03:41] leevigraham commented on #9
@mikestecker, Whats in your entryversions table for the entry? Can you paste the value of the data column?

[2017-12-05 16:45] Totemika opened #14 "[Enhancement] Replace phone number country code control type from 'select' to 'typeahead'"
The list of countries is so long that it can become difficult to find the country you need.

[2017-12-05 22:51] leevigraham commented on #14
I'm hoping Craft will implement some core typeahead functionality. I don't really want to add a custom UI control.

[2017-12-07 07:51] bphippen opened #15 "Cannot read property 'serialize' of undefined - Address.js:88"
Hi there, love the plugin but getting an error on line 88 of Address.js

Cannot read property 'serialize' of undefined

Worked great on Craft 3 beta but not working on Craft 3 RC

Also the default country is not populating.

[2017-12-07 11:20] leevigraham commented on #15
@bphippen Which version are you using?

[2017-12-07 15:54] bphippen commented on #15
@leevigraham 3.0.0-RC1

It seems to work fine after the address autofill fails once, then you save the entry, then try the address again.

[2017-12-08 00:05] leevigraham commented on #15
Ok found the issue… Craft has updated some of it's HTML, I'll sort a fix now.

[2017-12-08 00:15] #15 closed

[2017-12-13 03:51] mikestecker commented on #9
@leevigraham sorry for the delay... I just made it so it always show the country code dropdown at all times to get around the issue for now. Here's the relevant part of one of my entryversions tables:

`"108":{"countryCode":"US","rawInput":"765-662-9931","phoneNumber":[]}`

[2018-01-07 07:02] leevigraham opened #17 "Address validation / Geo-coding on submission"

[2018-01-25 10:39] romainpoirier opened #18 "Telephone field causes a PHP error when entry is saved"
[code]

This happens whatever the phone prefix or phone number, even if empty.

Craft CMS version : 3.0.0-RC7.1

[2018-01-30 20:38] mikestecker commented on #18
Came to report the same issue:

`Method newism\fields\models\TelephoneModel::__toString() must not throw an exception, caught TypeError: Argument 1 passed to libphonenumber\PhoneNumberUtil::format() must be an instance of libphonenumber\PhoneNumber, null given`

[2018-01-30 20:46] mikestecker commented on #18
After updating to RC8 today the issue still exists

[2018-01-31 03:53] mikestecker commented on #18
@leevigraham Happy Birthday! Hope you have a great one!

[2018-01-31 08:46] romainpoirier commented on #18
@leevigraham Happy Birthday 🎂 ! Thank you!

[2018-02-05 11:03] E2design commented on #18
Same issue here on 3.0.0-RC8

`Method newism\fields\models\TelephoneModel::__toString() must not throw an exception, caught TypeError: Argument 1 passed to libphonenumber\PhoneNumberUtil::format() must be an instance of libphonenumber\PhoneNumber, null given, called in /storage/av04180/www/thetag_html/vendor/newism/craft3-fields/src/models/TelephoneModel.php on line 66`

[2018-02-06 00:03] #18 closed

[2018-02-06 00:04] leevigraham commented on #18
v 0.0.8 should fix the issue.

[2018-02-09 14:39] E2design opened #20 "Field setting "Translation method" set to "Not translatable" don't work"
Setting the Field setting "Translation method" to "Not translatable" in a multi-language (2 sites) set-up still gives the option to reenter translate the date in the other language. While forcing this however, the complete values from the first language disappear and are not recoverable.

![schermafdruk 2018-02-09 15 30 37](https://user-images.githubusercontent.com/5907530/36032606-d9facaa6-0dae-1

[2018-02-12 01:12] leevigraham commented on #20
@E2design Thanks for the report. I haven't considered any multi-language functionality as of yet. I'll add it to the roadmap.

[2018-02-19 17:27] mikestecker opened #21 "Remove roave/security-advisories requirement?"
Having some issues updating composer in regards to `roave/security-advisories`. I'm on C3 RC10.1 and this morning, when running `composer update`, I get the following error:

[code]

Also, when I was scrolling the Craft 3 Slack group this morning, I saw @brandonkelly say "you can remove the `roave/security-advisories` requirement from your composer.json file for now. Yii 2.0.14 was just released t

[2018-02-19 21:24] brandonkelly commented on #21
Yeah that package should only ever be required by a _project’s_ composer.json; not a dependency’s.

[2018-02-19 21:47] leevigraham commented on #21
Will fix. :)

[2018-02-19 21:49] leevigraham commented on #21
Removed in 01ece12431fe9578cd7c0c634b6cc4acccf8a6c6. v0.0.9 tagged :)

[2018-02-19 21:49] #21 closed

[2018-02-19 21:51] leevigraham commented on #14
@brandonkelly Is there a craft UI element that changes a long select element into an auto-complete?

[2018-02-20 00:09] brandonkelly commented on #14
@leevigraham Craft comes with Selectize, which we use in Commerce, for cases where text searching makes sense.

[2018-02-20 01:52] leevigraham commented on #14
@brandonkelly Craft3?

[2018-02-20 07:33] E2design commented on #20
In the light of the Craft3 "sites" function of which multi-language is part of this is more a necessity then an enhancement 👍

[2018-02-26 22:50] dohayon opened #22 "Entry fails to save when embed field contains an instagram image with emojis in the caption"
<img width="481" alt="screenshot 2018-02-26 17 48 13" src="https://user-images.githubusercontent.com/5711643/36700368-727f544c-1b1d-11e8-8cf0-0f8ba535ed8f.png">

[2018-02-27 01:21] leevigraham commented on #22
Interesting… I'll check with @brandonkelly how craft handles emojis

[2018-02-27 19:21] brandonkelly commented on #22
@leevigraham Craft emoji support has 3 facets:

- `craft\helpers\StringHelper::encodeMb4()` will HTML-encode all 4(+)-byte characters. Only con is that they get converted to HTML entities, which may not be desired if the string isn’t HTML.

- `LitEmoji\LitEmoji::unicodeToShortcode()` will convert most emoji to `:shortcodes`; and `shortcodeToUnicode()` will convert `:shortcodes:` back to the unicod

[2018-02-27 19:22] brandonkelly commented on #14
Yep it’s there.

[2018-02-27 22:17] leevigraham commented on #22
Sounds like `craft\helpers\StringHelper::encodeMb4()` is the best option here given the output will always be html.

[2018-03-01 09:56] leevigraham commented on #22
Example URL: https://www.instagram.com/p/BfYPK64FFe6/?taken-by=leevigraham

[2018-03-01 10:27] leevigraham commented on #22
Looking at the craft code it looks like fields are using `encodeMb4()` in the fckeditor plugin

[code]

The EmbedModel implements `JsonSerializable` which means it's skipped by Crafts `serializeValue` method…

TBC.

[2018-03-01 10:30] leevigraham commented on #22
@brandonkelly what is Craft's position on emoji support? If support is only guaranteed on a DB level then I'm tempted to follow suit.

[2018-03-01 10:58] #22 closed

[2018-03-01 11:01] leevigraham commented on #22
@dohayon, I've implemented LitEmoji encoding / decoding.

[2018-03-01 12:33] leevigraham commented on #20
@E2design do you have a demo project I can take a look at?

[2018-03-01 12:42] leevigraham commented on #20
I've re-read your initial comment and I don't think this is an issue. You've set the field to "Not translatable" so in my understanding saving either site will overwrite the other site. Changing the translation method to Translate for each site also works as expected

[2018-03-01 12:42] #20 closed

[2018-03-01 12:48] leevigraham commented on #9
@mikestecker … finally getting some time to look at this. I think in more recent versions I've removed the option to hide the drop down. Which version are you currently running?

[2018-03-01 16:03] mikestecker commented on #9
@leevigraham I'm running your latest version so that issue has gone away now. It would be nice to be able to set a default country though so the user doesn't have to select it each time.

[2018-03-01 23:33] #9 closed

[2018-03-01 23:34] leevigraham opened #23 "Add ability to hide country selector for telephone fields"
See: https://github.com/newism/craft3-fields/issues/9

[2018-03-07 22:01] leevigraham commented on #22
Related: https://github.com/craftcms/cms/issues/2527

[2018-03-14 14:03] romainpoirier opened #24 "Add the ability to get embed iframe code with Vimeo protected videos"
Using a Vimeo video protected with password, and even if Vimeo video embed is enabled in the vimeo.com settings, the embed object has no 'code' data (whereas it has when the video is not protected).

[2018-03-15 11:59] leevigraham commented on #24
Example url?

[2018-03-15 12:01] romainpoirier commented on #24
You can try this one: https://vimeo.com/218439987

[2018-03-15 14:30] leevigraham commented on #24
Embed works by pulling the meta data from the url you enter. Given the page has no meta data (password protected) there's nothing to find. In this case I would recommend a different plugin.

[2018-03-15 14:30] #24 closed

[2018-03-15 14:46] romainpoirier commented on #24
Even if there's no meta data to find it doesn't mean the link can't be embed. It would be great if it may return at least the HTML iframe tag.

For your information, I finally found a quick and dirty solution using Twig:
[code]

[2018-03-31 22:57] keithmancuso opened #25 "Add support for CraftQl"
Currently working on a site using [marks amazing GraphQl Plugin](https://github.com/markhuot/craftql) and right now your fields are the only thing I had to resort to boring old rest for.

He has [pretty specific instructions on how to add support for third party field types](https://github.com/markhuot/craftql#third-pary-field-support) that seems pretty straightforward.  Would love to see this as

[2018-04-02 22:28] leevigraham commented on #25
I'm happy to accept a PR for this, otherwise I'll try and add it this week.

[2018-05-08 04:08] fredboyle opened #27 "Feed Me support?"
Are there plans to add Feed Me support to NSM Fields?

[2018-05-08 13:12] leevigraham commented on #27
I can look at it… are there any implementation docs?

[2018-06-05 14:51] andrewmenich opened #28 "Accessing full country name?"
Is it possible to access the whole country name instead of just the two-digit code? It appears to be a method on the commerceguys/addressing library but is not available in this plugin?

[2018-06-06 01:02] leevigraham commented on #28
Hmmm… doesn't look like it unless you go through `myfield.placedata`. Should be easy to add tho.

[2018-07-24 20:55] stovepot opened #29 "Globals"
I'm using the phone & address field in a global which causes some errors, including a depreciation error - see attached stack trace.

Running
Craft Solo 3.0.16.1
PHP 7.1.12
MySQL 5.6.38
NSM Fields 0.0.10
+ handful other plugins
![2018-07-25_06-49-19](https://user-images.githubusercontent.com/130454/43165583-9c1ce59c-8fd7-11e8-91ee-822660c20ece.png)

[2018-07-30 18:56] webrgp opened #30 "Default Country Code doesn't do anything."
I've set the default country on the address field, but when I create a new entry, the default country isn't selected.

Digging into the code, on fields/Address.php, from line 229, should be changed to:

[code]

and on templates/_components/fieldtypes/Address/input/countryCode.twig, change to:

[code]

[2018-07-30 19:02] webrgp commented on #30
One quick note: after I've put the Google API key, I am still getting errors :-/

[2018-08-03 05:24] adrienne commented on #30
I'm having the same problem.

[2018-08-03 05:26] adrienne opened #32 "Autocomplete on US addresses frequently puts the address in the wrong line"
I'm noticing that on address autocomplete of US addresses, what should be address line 1 frequently gets put into address line 2 if there is no line 2 in the returned data. This should definitely not happen1

[2018-08-03 08:04] adrienne commented on #28
i also need this, @leevigraham, because for manually set addresses there's no placedata.

[2018-08-03 12:41] leevigraham commented on #32
@adrienne Can you provide an example address?

[2018-08-03 12:44] leevigraham commented on #29
@stovepot I think @webrgp fixed these in #31

[2018-08-06 07:05] adrienne commented on #32
@leevigraham - Yeah, try entering "Whitman College" and selecting the one in Walla Walla, Washington, US. You'll see that it populates the address but it puts what should be Line 1 into Line 2

[2018-08-08 04:07] leevigraham commented on #32
This is the expected behaviour. Line 1 is reserved for things like apartment number. Google Geo-coding only returns the street address not individual apartments.

[2018-08-08 04:07] #32 closed

[2018-08-09 08:31] adrienne commented on #32
@leevigraham - This is the wrong behavior for US addresses. The street address, in the US, should always be line 1; apartment or suite number should be in line 2.

[2018-08-10 00:58] leevigraham commented on #32
Hmm… Interesting.

There's two use cases for addresses… postal addresses and locations. Google doesn't return "Street Address Line 1" and "Street Address Line 2" in it's geocoding… only a street address.

I think I'm going to merge address line 1 and address line 2 into a single input. Does the post office care if apartment and street are on the same line?

Eg: Apt 1, Some Street Name

[2018-08-17 21:51] stovepot opened #33 "Depreciation error maybe related to missing PHP extensions"
This error perseveres: `Fields’ isEmpty() method has been deprecated. Use isValueEmpty() instead.`

Looks like it is related to the phone number field...

Running on:

PHP: 7.1.19 (MAMP Pro 5+)
MySQL 5.7.21
Craft Solo 3.0.20
NSM Fields | 0.0.10
All System Report's Requirements good (including the Intl extension).

[2018-08-19 23:30] leevigraham commented on #33
Hi @stovepot, I believe this is fixed in master: https://github.com/newism/craft3-fields/pull/31. I just need to prep a release.

[2018-08-21 05:29] leevigraham commented on #28
@adrienne / @adrienne

Checkout: https://github.com/newism/craft3-fields/releases/tag/0.0.11

I've added:

[code]

[2018-08-21 05:29] leevigraham commented on #33
@stovepot Checkout: https://github.com/newism/craft3-fields/releases/tag/0.0.11

[2018-08-21 05:29] #33 closed

[2018-08-21 05:29] #28 closed

[2018-08-21 05:52] adrienne commented on #32
@leevigraham - sorry, i had missed this. The post office does care, yes - it can all be on the same line, but the street address _must always come first_. So:

123 Some Street Name, Apt 1

would be okay, but

Apt 1, 123 Some Street Name

would _not_.

[2018-09-11 01:29] stevehurst opened #34 "Unable to update to v0.11 on my environment, addressing dependency"
I'm getting the following errors on composer update when I try to update craft3-fields to 0.11:

[code]

[2018-10-30 13:27] nicolasbinet opened #35 "address field : latitude & longitude not being saved"
After searching an address and saving it in an entry, longitude and latitude are not saved, even though they are present in the placeData, and mapUrl is correctly saved.
Is there anything special ?

[2018-10-31 09:13] leevigraham commented on #35
Can you let me know the address you were trying and the version of Craft?

[2018-10-31 10:46] nicolasbinet commented on #35
The problem occurs for multiple addresses, which are all reported on this page :
https://www.dolphin-charger.com/network

We're using Craft 3.0.28 & NSM Fields 0.0.11.

[2018-10-31 11:49] joshuabaker opened #36 "Suggestion: Unbundle into separate field repos"
Separate repos would allow installing only the fields required as well as allowing field-specific issues.

This repo could still exist as a way to batch install (i.e. using composer).

Thoughts on this?

[2018-11-01 04:36] leevigraham commented on #36
It's on the roadmap! :)

![image](https://user-images.githubusercontent.com/25124/47832818-b3e54400-ddeb-11e8-8c4e-10fb522627c2.png)

[2018-11-01 04:36] #36 closed

[2018-11-01 04:37] leevigraham commented on #35
Okie dokie… that's a lot of addresses. I should be able to check it out tonight.

[2018-11-01 04:55] leevigraham commented on #35
@nicolasbinet Do you have "Show Latitude / Longitude" enabled in the field settings?

![2018-11-01 15 49 48](https://user-images.githubusercontent.com/25124/47833345-5e5e6680-ddee-11e8-92a2-ad494b1073a9.gif)

![2018-11-01 15 48 57](https://user-images.githubusercontent.com/25124/47833348-64ecde00-ddee-11e8-9963-90104a7c7b83.gif)

[2018-11-01 10:45] leevigraham commented on #35
no field means it's not part of the submission… pretty easy change tho… I can change the field type to hidden.

[2018-11-01 12:14] nicolasbinet commented on #35
for me, that would be a great idea.
being able to evolve a field, without re-saving all addresses.

[2018-11-02 15:21] timkelty opened #37 "Embed field breaks console"
You're using `Craft::$app->getRequest()->getIsPost()` which doesn't exist in a console request.

See https://github.com/craftcms/cms/issues/3302

[2018-11-04 22:02] #37 closed

[2018-11-09 21:26] nicolasbinet opened #39 "Adresse cannot contain emoji"
After searching for the address below, get a result and saving, we get an error "**field** cannot contain emoji."
`
CAP 190
7 avenue du Dr Pierre Nicolas
29900 CONCARNEAU`

Can the validation be more flexible to allow content submitted to and delivered by Google.

[2018-12-02 11:28] malamoet opened #42 ""Request missing required body param" after selecting address suggestion"
Hi, i'm having troubles with the address field.

After selecting an address suggestion from the dropdown nothing happens (the address part fields aren't showing).

![schermafbeelding 2018-12-02 om 12 21 12](https://user-images.githubusercontent.com/23460374/49339122-55e78e80-f62d-11e8-8a58-43916382f043.png)

The request that happens on selecting a location is throwing a 400 error:

![schermafbeeld

[2018-12-04 02:42] leevigraham commented on #42
Hmm that's a weird one… which version of Craft are you using?

[2018-12-04 02:42] leevigraham commented on #39
Does that address contain emoji?

[2018-12-04 23:18] leevigraham commented on #42
@malamoet Thanks for nailing down the issue. I'll take a look… I'm pretty snowed under with work leading up to the holidays so it might be a toward the end of the week. Should be an easy fix.

[2018-12-05 20:49] nicolasbinet commented on #39
being more precise on the process :
- I searched for "Accastillage Diffusion Concarneau"  (screenshot tbelow)
- Validate the first and only result
- Save the entry without any other edit
- Voila, get the error !

<img width="1003" alt="capt_field_address" src="https://user-images.githubusercontent.com/867710/49543114-9f5b0680-f8d7-11e8-8dc8-5707f448ed57.png">

[2019-01-15 05:49] leevigraham commented on #39
Relevant emoji:

![image](https://user-images.githubusercontent.com/25124/51161140-4bcfd580-18e5-11e9-9d3e-b9fd867adef8.png)

Also related: https://github.com/craftcms/cms/issues/1627

[2019-01-15 07:13] leevigraham commented on #39
@nicolasbinet I'm pretty sure this is fixed in v0.0.12.

I'm now serialising the address manually using json_encode and replacing emoji with Crafts `StringHelper::encodeMb4`

[2019-01-15 07:26] #35 closed, assigned to nobody

[2019-01-15 07:29] #39 closed, assigned to nobody

[2019-01-15 07:37] leevigraham commented on #42
@malamoet I took a look at this and it's going to be a bit more complicated than I thought. I cheated a bit and used some balck magic to change the field when the country changes. I'll look at another option.

[2019-01-15 07:47] leevigraham commented on #30
@webrgp @adrienne I'm not sure what I was thinking with default country code. I think I might have copied that from the telephone input.

How would you expect a default country code to work? Would it render all the fields below? Are you planning to hide the auto complete?

[2019-01-15 07:53] #30 closed

[2019-01-15 07:54] leevigraham commented on #30
Figured it out. https://github.com/newism/craft3-fields/releases/tag/0.0.14 should fix this issue.

[2019-02-11 17:34] rjhewitt3 opened #43 "Disabling AutoComplete breaks things!"
This is particularly related to the Address field type. I'm not leveraging the Google API autofill, and this is a result stemming, seemingly from that. In the field configuration, I only have "Show Map Url"
and "Show Latitude / Longitude" checked. In other words, "Show Auto Complete" is disabled.

When going to my entry, I'm getting some console errors. These are breaking other fields, particularl

[2019-02-11 23:23] leevigraham commented on #43
Looks like I need to come back and bulletproof the javascript.

[2019-02-12 06:25] malamoet opened #44 "Field setting "Translation method" set to "Translate for each site group" doesn't work for fieldtype "NSM Telephone""
Hi all,

I'm setting up a multisite craft project with site groups. Every group is another location and has other contact information (address, email, phone, ...). I'm using the craft-fields plugin to create the necessary fields to provide this contact information through the CMS. Since every location (site group) has different contact details, i'm setting the "Translation method" to "Translate fo

[2019-02-23 14:55] tobystokes opened #45 "Embed field does not populate across other languages"
In a site with multiple languages defined, if you enter an embed link in one language, it does not populate across to the other languages.

Translation method is set to 'Translate for each language'.
Expected behaviour is as per standard Craft fields - if the field is currently empty, new text gets populated across to other languages.

(Nested in a matrix field, i'm not sure whether that makes a d

[2019-02-23 15:34] tobystokes commented on #45
Can confirm that being in or not within a matrix field makes no difference, also same applies to the address field types (haven't tested the others)

[2019-03-27 04:18] CRHain88 commented on #32
Google Places API refers to the apartment/suite as `subpremise`.

Also, as @adrienne mentioned, It's confusing in the US and my editors are copy/pasting the data from the second line into the first line.

[2019-03-27 04:32] XianHain opened #46 "Autocomplete doesn't populate all fields"
The Autocomplete box does not populate the `name` or `subpremise` (apt/suite/etc) values

## Expected Behavior
When using autocomplete to find a location (example, "Mailchimp Atlanta United States"), the value "Mailchimp" would be populated in the company field, "675 Ponce De Leon Ave NE" would populate in the first Address field, and "Suite 5000" would populate in the second Address field.

## Ac

[2019-03-28 04:12] leevigraham commented on #46
Thanks for raising the issue… Do you know when premise and subpremise were added to the response?

How would you expect these to be added to the address… maybe in Address Line 1.

I'm mapping two different datasets / formats Google Geocode to the [CommerceGuys addressing model](https://github.com/commerceguys/addressing#data-model)

Hows this for a plan… If there's a premise, subpremise or floor i

[2019-03-28 04:14] leevigraham commented on #46
@CRHain88 According to https://github.com/newism/craft3-fields/issues/32#issuecomment-414557769 the street address must always be before the premise, subpremise?

[2019-03-28 04:16] leevigraham commented on #46
Reference: https://pe.usps.com/text/pub28/28c2_003.htm

[2019-03-28 04:19] leevigraham commented on #46
Reference Australian Addressing Standards: https://auspost.com.au/content/dam/auspost_corp/media/documents/Appendix-01.pdf

[2019-03-28 04:21] leevigraham commented on #46
@CRHain88 UPS provides an alternative position for Secondary Address Unit Designators

![Screen Shot 2019-03-28 at 15 21 00](https://user-images.githubusercontent.com/25124/55129961-2aa12600-516d-11e9-8a89-bcc01b452856.png)

[2019-03-28 19:12] CRHain88 commented on #46
@leevigraham Typical convention for US Addresses is as follows:

`street_address`
`premise` `subpremise`
`locality` `administrative_area_level_1` `postal_code`
`country`

Whether you decide to put `street_address` above or below `premise` and `subpremise` is a matter of taste but very confusing without field labels. Many forms I've seen will say things like "Street Address", "Apt/Bldg/Ste".

This

[2019-05-07 04:44] adrienne commented on #46
@leevigraham - this is related to my earlier issue, btw.

[2019-06-17 14:50] bertheyman opened #48 "Bulk geocode"
I've a list of addresses that come from an import / migration.
The basic address lines are available, only the lat/long are missing - is there any way to bulk update these?

[2019-10-15 00:14] SamNewism opened #50 "googleMapsPlacesApiLoadedCallback is not a function"
When a CMS add/edit page has an empty matrix that can contain Nsm Address fields the googleMapsPlacesApiLoadedCallback function doesn't exist on page load. If an Nsm Address field exists on page load then the googleMapsPlacesApiLoadedCallback exists on page load and everything works.

[2019-10-29 12:50] bartrylant commented on #27
Any news on this? I have a huge Craft 2 site with thousands of news entries. Most of them have urls referring to Facebook/Twitter/Instagram posts. I wanted to use this plugin for the new Craft 3 site, but I don't see a way to import them with Feed Me (or any other way, for the matter).

[2020-05-19 04:37] #50 closed

[2020-07-21 05:51] leevigraham commented on #43
Should be fixed by: https://github.com/newism/craft3-fields/pull/54

[2020-07-21 05:51] #43 closed

[2020-07-24 14:03] atimoda opened #57 "Error on Craft 3.4.29.1 (plugin broken)"
After updated Craft to version 3.4.29.1, trying to edit any entry that contains an nsm-field, in the Craft's panel, returns Internal Server Error (nsm-fields version 0.0.20).

From the craft's log:

`ParseError: syntax error, unexpected '?', expecting function (T_FUNCTION) or const (T_CONST) in /var/www/vhosts/redemetamorfose.org/vendor/newism/craft3-fields/src/models/Settings.php:17
Stack trace:

[2020-07-26 23:41] leevigraham commented on #57
Which version of PHP are you running?

[2020-07-27 14:19] laurabennett commented on #57
I'm getting the same error.
PHP 7.0.33-0+deb9u5

[2020-07-28 10:08] leevigraham opened #58 "Address field doesn't update in user profile (and I assume categories, assets and other non entry fields)"

[2020-07-28 10:11] leevigraham commented on #57
Yep this is an issue with < php 7.1. Can you upgrade? PHP 7.3 is the lowest supported version. https://www.php.net/supported-versions.php

[2020-07-28 12:58] laurabennett commented on #57
Ok thanks. We are in the process of moving to a new server so once that is
complete I will give it another try.

On Tue, Jul 28, 2020 at 6:12 AM Leevi Graham <notifications@github.com>
wrote:

--

Laura Bennett
digital diva

drive >
P.O. Box 2838, 170 Kearsarge Street
North Conway, NH 03860
603.356.3030
laura@drivebrandstudio.com

[2020-07-28 15:07] atimoda commented on #57
PHP version 7.3.20 here

[2020-08-10 00:03] leevigraham commented on #42
Fixed by #59

[2020-08-10 00:03] #42 closed

[2020-08-10 00:04] leevigraham commented on #58
Fixed by #59

[2020-08-10 00:04] #58 closed

[2020-08-19 14:17] wooge commented on #57
On line 17 in `/src.models/Settings.php` I changed:

`public ?string $googleApiKey = '';`

TO:

`public $googleApiKey = '';`

And that seems to have fixed it. I'm running PHP 7.2.24

[2020-08-27 18:46] TLM-Mikael commented on #57
@leevigraham any fix for PHP versions under 7.4?

[2020-08-29 10:27] drifteaur commented on #57
You can still use version 0.0.15 for compatibility, in composer.json:

    "newism/craft3-fields": "0.0.15",

Although backwards compatibility would be nice, the production server I'm using doesn't support PHP 7.4.

[2020-08-31 13:00] dreadfullyposh commented on #57
It'd be helpful if the composer.json was updated with the PHP version requirement, so composer would prevent newer versions from being installed.

[2020-08-31 23:00] leevigraham commented on #57
I'll try and revert the php 7.4 changes in the next couple of days

[2020-09-13 11:51] leevigraham commented on #57
Fixed in https://github.com/newism/craft3-fields/commit/02d672283c8e470a0e4be1bfaf14a735885916d0

[2020-09-13 11:51] #57 closed

[2020-09-14 05:10] leevigraham commented on #46
@CRHain88 revisting this backlog issue… The main challenge here is the way the google autocomplete api maps to the addressing bundle which handles all the country / state / city localisation and layout.  The addressing bundle data model is different: https://github.com/commerceguys/addressing#data-model I probably need to rethink the purpose of the address field and explain it better.

[2020-09-14 05:11] leevigraham commented on #46
Sprout Address Fieldtype for reference does the same thing: https://sprout.barrelstrengthdesign.com/docs/fields/address-field.html#templates

[2021-03-12 00:13] sidedwards opened #62 "[Bug] - Draft field value reset on Craft 3.6 and PHP 7.4"
## ⚙️ System settings
Craft CMS: 3.6.10
PHP: 7.4.16

## 🐛 Bug description
With Craft 3.6 and PHP 7.4, when a new draft is created for an Entry with the NSM Embed field, blocks with field values _after the embed field_ get reset.

## 👣 Reproduction steps
Steps to reproduce the behavior:
1. Create an Entry with the NSM Embed field.
2. Click on 'Create a draft'.
3. While viewing the draft, click on a

[2021-03-12 04:49] leevigraham commented on #62
Hmm that's super weird… I'll check it out over the weekend.

[2021-06-29 15:20] kmauric commented on #45
@tobystokes - did you find a workaround for this?

[2021-06-29 16:00] tobystokes commented on #45
Nope sorry, think I just went back to a standard text field instead.

[2021-07-14 17:20] sidedwards commented on #62
Hi @leevigraham, any update on this? We're still experiencing this issue. I'm pretty sure https://github.com/newism/craft3-fields/issues/45 is related.

Similarly, when an NSM field is within a nested field (i.e., Matrix, Neo, etc.) it does not correctly apply draft values to the entry. This occurs for most NSM fields with the exception of `Email`. Additionally, it doesn't seem to matter what the

[2021-07-14 23:39] leevigraham commented on #62
Haven't looked into it yet. I'm running a 3.7 update today so I'll check at the same time.

[2021-08-17 02:35] iainhenderson opened #63 "Phone numbers won't save data if a country code isn't set."
Phone numbers discard data if a country code isn't set. A country code isn't a required field, and it defaults to empty, so this is a very easy way to lose data.

A country code probably shouldn't be allowed to be empty, so I think there probably should be a default country option which is configurable in plugin settings.

[2021-09-01 03:19] bliswebagency opened #64 "Name of person field becomes empty if save is done after Craft auto-saves entry"
Steps to reproduce:

1. Enter values into Name of Person field
2. Wait for the first green autosave tickmark to appear
3. Save entry
4. Name of Person field is empty

However if saving very quickly before the first autosave completes the fields values are saved correctly and not emptied.

Versions:

NSM Fields: 1.0.2
Craft Version: 3.7.11
PHP: 7.4.22

[2021-09-01 22:14] leevigraham commented on #64
@bliswebagency I'll look into this either today or tomorrow.

[2021-09-02 00:56] bliswebagency commented on #64
Thanks @leevigraham , let us know if you need any additional info

[2021-09-21 16:37] adrienne opened #65 "Is there a reason the Address field is double-encoding some of the JSON?"
@leevigraham : When you save an address field, it saves as JSON, of course. But the `placeData` key, which is the part that gets pulled in wholesale from Google Places/Maps, is string-encoded inside the JSON, so you get something in the database that looks like this:

[code]
Is there a reason why you're not just storing the returned JSON as subkeys of `placeData` rather than stringifying (and ther

[2021-09-22 00:26] leevigraham commented on #65
Hmm… I'll take a look. An update to NSM Fields is on the schedule for this week.

[2021-09-22 15:50] adrienne commented on #65
@leevigraham - you're definitely stringifying it explicitly here:
https://github.com/newism/craft3-fields/blob/4cc283c04687578fff98cd9b9516801799e52061/src/assetbundles/AddressField/dist/js/Address.js#L221

The field input is expecting it to be a string:
https://github.com/newism/craft3-fields/blob/4cc283c04687578fff98cd9b9516801799e52061/src/templates/_components/fieldtypes/Address/input.twig#L83

[2021-12-03 06:07] adrienne commented on #65
@leevigraham bump (making sure you see this!)

[2021-12-16 03:44] adrienne opened #69 "Some kind of new issue with country codes"
As far as i can tell, all my addresses have country codes, but suddenly i'm getting the following nasty error (and Calendar, where the field is, won't display any events):

[code]

I've temporarily patched this by changing line 218 of `src/models/AddressModel.php` from:

[code]

to:
[code]

but obviously that's a patch, not a real solution.

The field *does* have a default `countryCode` set, and a

[2022-01-28 04:09] leevigraham commented on #27
Probably not going to support FeedMe any time soon. Every project we've used FeedMe for ends up falling over at some point.

I'll reconsider this for the Craft4 rebuild.

[2022-04-17 14:06] azim1728 opened #71 "Embed field in matrix resets everytime after hitting save."
Craft CMS: 3.7.38
PHP: 7.4.28

1. Create an Entry with the NSM Embed field in matrix field.
2. Enter embed link in the field.
3. Click on 'Create Entry or Save'.
4. NSM Embed field values are reset.

Please see attached video for more idea.

https://user-images.githubusercontent.com/54146953/163718019-f0b8693c-6fdc-4b21-b352-68903328af85.mp4

[2022-04-19 09:30] azim1728 commented on #71
@leevigraham any update on this?

[2022-04-26 09:33] azim1728 commented on #71
@leevigraham hey man, hope you are doing well. Just checking if nay updates on the isssue?

[2022-04-27 00:17] leevigraham commented on #71
@azim1728 I'm looking into this. I can see that embed fields fail to save if they're not in a matrix block… so something is going on for sure. Saving a draft sometimes works… but not always.

[2022-04-27 00:19] leevigraham commented on #71
@azim1728 Related to: https://github.com/newism/craft3-fields/issues/62

[2022-04-27 00:19] leevigraham commented on #71
@azim1728 Also related to: https://github.com/newism/craft3-fields/issues/64

[2022-04-27 00:44] leevigraham commented on #71
@azim1728 Can you try updating to 1.0.4: https://github.com/newism/craft3-fields/releases/tag/1.0.4

[2022-04-27 00:45] leevigraham commented on #64
@bliswebagency I think I've finally figured this out. Can you try 1.0.4 if you're still using the plugin: https://github.com/newism/craft3-fields/releases/tag/1.0.4

[2022-04-27 00:45] leevigraham commented on #62
@sidedwards I think I've finally figured this out. Can you try v1.0.4 if you're still using the plugin: https://github.com/newism/craft3-fields/releases/tag/1.0.4

[2022-04-27 05:22] azim1728 commented on #71
@leevigraham thanks mate I have updated the plugin. I will check if the issue still exist or not and close the issue if its fixed for me.

[2022-04-28 10:35] azim1728 commented on #71
@leevigraham it is fixed. Thanks for your efforts.

[2022-04-28 10:35] #71 closed